/* styles.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #f9fff9;
  color: #222;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 8%;
  background: #fff;
  border-bottom: 1px solid #eee;
}

.logo {
  font-size: 35px;
  font-weight: bold;
  color: #2ecc71;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
}

.navbar a.active {
  color: #2ecc71;
}

/* HERO SECTION */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 8%;
  gap: 40px;
}

.hero-text {
  width: 50%;
}

.hero-text h1 {
  font-size: 50px;
  font-weight: bold;
  line-height: 8vh;
}

.hero-text p {
  margin: 20px 0;
  color: #555;
  line-height: 5vh;
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  background: #2ecc71;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
}

.hero-img img {
  width: 100%;
  max-width: 420px;
  border-radius: 10px;
}

/* BRANDS */
.brands {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 40px 0;
  opacity: 0.7;
  flex-wrap: wrap;
}

/* FEATURES */
.features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 40px 8%;
  gap: 20px;
}

.feature-box {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
  text-align: center;
}

.feature-box h4 {
  margin-bottom: 8px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-text,
  .hero-img {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .features {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .features {
    grid-template-columns: 1fr;
  }
}
.brands img{
  width: 200px;
  height: 35px;
  opacity: 55%;
}